<div *ngIf="(product$ | async) as product">
    <div>
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{product.title}}</li>
            <li>Precio: {{product.price}}</li>
        </ul>
        <p>{{product.description}}</p>
    </div>
    <button mat-button color="primary" (click)="createProduct()">Crear</button>
    <button mat-button (click)="updateProduct()">Update</button>
    <button mat-button color="warn" (click)="deleteProduct(product.id)">Detele</button>

</div>